*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
body{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-color: rgba(219, 114, 65, 0.603);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    

}
header{
    margin-top: 40px;
    text-align: center;
    color: #fff;
}
#escolhaCripto{
    margin-top: 20px;

}
#mensagem{
    margin-top: 20px;

}
#incremento{
    margin-top: 10px;
}
#escolhaDesOuCo{
    margin-top: 10px;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 600px;
    background-color: rgb(255, 255, 255, 0.3);
    padding: 5%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 8px 8px 8px 8px rgb(0 0 0 / 20%);
    color: #fff;
}
.caixa{
    border-radius: 5px;
}
#footer{
    margin-top: 35px;
    width: 100vw;
    height: 80px;
    background-color: antiquewhite;
    
}